@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 80px 10vw 2vh 10vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7px;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b0000), to(red));
  background-image: linear-gradient(#2b0000, red);
  /*box-shadow: 4px 0 10px orange;*/
}

header h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #dddddd;
  font-size: 22pt;
}

#items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#command_row {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#2b0000));
  background-image: linear-gradient(red, #2b0000);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#command_row button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#2b0000));
  background-image: linear-gradient(red, #2b0000);
  border: none;
  color: white;
  font-size: 12pt;
  font-style: bold;
  height: 100%;
  margin: 0 10px 0 10px;
  -webkit-transition: font-size 0.2s, height 0.2s, margin 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  transition: font-size 0.2s, height 0.2s, margin 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  transition: filter 0.2s, font-size 0.2s, box-shadow 0.2s, height 0.2s, margin 0.2s;
  transition: filter 0.2s, font-size 0.2s, box-shadow 0.2s, height 0.2s, margin 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  padding: 3px 10px 3px 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

#command_row button:hover {
  border: 1px solid black;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.item {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  padding: 10px;
  width: 10vw;
  min-width: 150px;
  border: 2px solid black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.item h2 {
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.item img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  height: 70px;
  width: 90px;
  margin-left: 10px;
  margin-bottom: 80px;
}

.item canvas {
  position: absolute;
  bottom: 10px;
  display: block;
  height: 60px;
  width: 95%;
  min-width: 100px;
}

.active {
  position: relative;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  /*opacity: 0;*/
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0.3;
}

.hidden {
  display: none !important;
  z-index: -1;
}

.close_x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  right: 10px;
  height: 20px;
  width: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.close_x:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.close_x span {
  background-color: black;
  display: inline-block;
  position: absolute;
  height: 4px;
  /* line-thickness */
  width: 100%;
  /* line-length */
  border-radius: 6px;
}

.close_x :first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close_x :last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#data_file_dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

#data_file_dialog fieldset {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#data_file_dialog fieldset legend {
  padding-top: 20px;
  font-size: 24pt;
}

#data_file_dialog fieldset input {
  display: inline;
}

#data_file_dialog fieldset button {
  display: inline;
}
/*# sourceMappingURL=main.css.map */