* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 70px 10vw 2vh 10vw;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  text-align: center;
  width: 100vw;
  /*background-color: red;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(orange));
  background-image: linear-gradient(red, orange);
  -webkit-box-shadow: 4px 0 10px orange;
          box-shadow: 4px 0 10px orange;
}

header h1 {
  color: white;
  font-size: 20pt;
}

#items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#command_row {
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));
  background-image: linear-gradient(orange, red);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#command_row button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));
  background-image: linear-gradient(orange, red);
  border: 1px solid black;
  color: white;
  font-size: 12pt;
  font-style: bold;
  -webkit-transition: font-size 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  transition: font-size 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  transition: filter 0.2s, font-size 0.2s, box-shadow 0.2s;
  transition: filter 0.2s, font-size 0.2s, box-shadow 0.2s, -webkit-filter 0.2s, -webkit-box-shadow 0.2s;
  padding: 3px;
}

#command_row button:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  font-size: 15pt;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3px;
  padding: 10px;
  width: 10vw;
  min-width: 110px;
  border: 2px solid black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item canvas {
  height: 60px;
  width: 95%;
  min-width: 100px;
}

.item img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  height: 70px;
  width: 90px;
  margin-left: 10px;
}

.active {
  position: relative;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  /*opacity: 0;*/
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0.3;
}
/*# sourceMappingURL=main.css.map */