
$header_height: 50px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    padding: $header_height+20px 10vw 2vh 10vw;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: $header_height;
    width: 100vw;
    /*background-color: red;*/
    background-image: linear-gradient(darkred, red);
    box-shadow: 4px 0 10px orange;
    h1{
        color: white;
        font-size: 20pt;
    }
}

#items{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

#command_row{
    width: 100vw;
    height: 60px;
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: red;
    background-image: linear-gradient(red, darkred);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;

    button{
        background-image: linear-gradient(red, darkred);
        border: 1px solid black;
        color: white;
        font-size: 12pt;
        font-style: bold;
        height: 80%;
        margin: 10px 10px 0 10px;
        transition: filter 0.2s, font-size 0.2s, box-shadow 0.2s, height 0.2s, margin 0.2s;
        padding: 3px;

        &:hover{
            filter: brightness(200%);
            //font-size: 15pt;
            box-shadow: 2px 2px 2px black;
            //margin: 0;
            //height: 100%;
        }
    }
  }
.item{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 10px;
    width: 10vw;
    min-width: 150px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    overflow: hidden;
    h2{
        display: block; 
        width: 100%;
        overflow: hidden;
    }
    img{
        object-fit: contain;
        display: block;
        height: 70px;
        width: 90px;
        margin-left: 10px;
    }
    .spacer{
        /* Used to position canvas at the bottom of the card */
        width: 95%;
        min-width: 100px;
        display: block;
        height: 60px;
    }
    canvas{
        position: absolute;
        bottom: 10px;
        display: block;
        height: 60px;
        width: 95%;
        min-width: 100px;
    }

}

.active{
    position: relative;
    box-shadow: 3px 3px 5px black;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: green;
        /*opacity: 0;*/
        transition: opacity 0.1s;
        opacity: 0.3;
    }
}

.hidden{
    display: none !important;
    z-index: -1;
}


.close_x{
    display: flex;
    position: absolute;
    top: 30px;
    right: 10px;
    height: 20px;
    width: 20px;

    justify-items: center;
    align-items: center;
    transition: transform 0.5s;

    &:hover{
        transform: scale(1.4);
    }
    span{
        background-color: black;
        display: inline-block;
        position: absolute;
        height: 4px; /* line-thickness */
        width: 100%; /* line-length */
        border-radius: 6px;
    }
    & :first-child{
        transform: rotate(45deg);
    }
    & :last-child{
        transform: rotate(-45deg);

    }

}

#data_file_dialog{
    $input_height: 45px;
    $input_width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.8);
    z-index: 4;
    fieldset{
        position: relative;
        background-color: white;
        border-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        legend{
            padding-top: 14pt;
            font-size: 24pt;
        }
        input{

            display: inline;
        }
        button{
            display: inline;
        }
    }
}