@media print {
    $page_margin_l: 2.5cm;
    $page_margin_r: 2.5cm;
    $page_margin_top: 2.5cm;
    $page_margin_bottom: 2.5cm;
    $items_per_row: 4;
    $rows_per_page: 5;
    $item_width: calc((210mm - #{$page_margin_l} - #{$page_margin_r})/#{$items_per_row});
    $item_height: calc((297mm - #{$page_margin_top} - #{$page_margin_bottom})/#{$rows_per_page});
    
    *{
        margin: 0 !important;
        padding: 0 !important;
        transition: none !important;
        min-width: 0 !important;
    }
    @page{
        size: auto;
        margin: 5mm;
    }
    body{
        overflow: visible !important;
        line-height: 125%;
    }
    header{
        background-color: transparent;
        position: static;
        color: black;
        font-size: 22pt;
    }
    footer{
        display: none !important;
    }
    #command_row{
        button{
            display: none !important;
        }
    }
    #items{
        display: inline;
        overflow: visible !important;
        padding-left: $page_margin_l;
    }
    .item{
        font-family: 'Noto Sans JP', sans-serif;
        color: black;
        position: relative;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        border: 2px solid black;
        text-align: center;
        page-break-inside: avoid;
        min-width: 0;
        width: $item_width;
        height: $item_height;
        padding-bottom: 1cm;
        h2{
            position: absolute;
            top: 0mm;
            display: block;
            flex-grow: 2;
            
            font-size: 12pt;
        }
        p{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 10pt;
            position: absolute;
            top: calc(4mm + 20pt);

        }
        img{
            position: absolute;
            top: calc(5mm + 30pt);
            object-fit: contain;
            left: 9mm;
            width: 50%;
            height: auto;
            margin: 0 auto;
        }
        canvas{
            position: absolute;
            bottom: 2mm;
            left: 2mm;
            width: 90%;
            height: 32pt;
            margin: 0 auto;
        }

    }
    .active{
        box-shadow: none;
        &:after{
            display: none;
        }
    }

}

