@media print {
    $page_margin_l: 2.5cm;
    $page_margin_r: 2.5cm;
    $page_margin_top: 2.5cm;
    $page_margin_bottom: 2.5cm;
    $items_per_row: 5;
    $rows_per_page: 4;
    $item_width: 25%; //calc((210mm - #{$page_margin_l} - #{$page_margin_r})/#{$items_per_row});
    $item_height: calc(94%/#{$items_per_row});//calc((297mm - #{$page_margin_top} - #{$page_margin_bottom})/#{$rows_per_page});
    
    *{
        margin: 0 !important;
        padding: 0 !important;
        transition: none !important;
        min-width: 0 !important;
        background-color: white;
    }
    @page{
        size: auto;
        margin: auto;
    }
    body{
        overflow: visible !important;
        line-height: 125%;
    }
    header{
        //display: none;
        background-color: transparent;
        background-image: none;
        position: static;
        color: black !important;
        font-size: 16pt;
    }

    .no-print{
        display: none !important;
      }
    footer{
        display: none !important;
    }
    #command_row{
        button{
            display: none !important;
        }
    }
    #items{
        display: block;
        overflow: visible !important;
        padding-left: $page_margin_l;
        padding: 25mm;
        height: 95vh;
    }
    .edit_symbol{
        display: none;
    }
    .item{
        font-family: 'Noto Sans JP', sans-serif;
        color: black;
        position: relative;
        display: inline-block;
        //flex-direction: column;
        //align-items: center;
        //justify-content: flex-start; 
        border: 100% solid black;
        text-align: center;
        page-break-before: avoid;
        //page-break-inside: avoid;
        min-width: 0;
        width: $item_width;
        height: $item_height;
        padding-bottom: 1cm;
        margin-right: 100%;
        h2{
            position: absolute;
            top: 0mm;
            display: block;
            
            font-size: 100%;
        }
        p{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 90%;
            position: absolute;
            top: calc(4mm + 10pt);
            z-index: 10;

        }
        img{
            position: absolute;
            top: calc(5mm + 18pt);
            object-fit: contain;
            left: 25%;
            width: 50%;
            height: auto;
            margin: 0 auto;
            z-index: 0;
        }
        canvas{
            position: absolute;
            bottom: 2mm;
            left: 2mm;
            width: 90%;
            height: 25%;
            margin: 0 auto;
        }

    }
    .active{
        box-shadow: none;
        &:after{
            display: none;
        }
    }
    .fas{
        display:none;
    }
}

